<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="card">
    <div class="container">
        <h3><b>Safety Index</b></h3>
        <span class="riesgo {{ warning_color }}">
        {{ "{:.1f}".format(safety_index) }}
        </span>
        <p>{{risk}}</p>
    </div>
  </div>
  <div class="card">
      <div class="container">
          {% if has_province_data %}
              <h3><b>Details for {{ province }}, {{ country }}</b></h3>
          {% else %}
              <h3><b>Details for {{ country }}</b></h3>
          {% endif %}
          <div class="details">
          <ul>
              <li>
                  <b>Active: </b>
                  <span>{{ "{:,.0f}".format(total_active) }}</span>
              </li>
              <li>
                  <b>Confirmed: </b>
                  <span>{{ "{:,.0f}".format(total_confirmed) }}</span>
              </li>
              <li>
                  <b>Deaths: </b>
                  <span>{{ "{:,.0f}".format(total_deaths) }}</span>
              </li>
              <li>
                  <b>Recovered: </b>
                  <span>{{ "{:,.0f}".format(total_recovered) }}</span>
              </li>
              <li>
                  <b>Weekly New Cases: </b>
                  <span>{{ "{:,.0f}".format(weekly_new_cases) }}</span>
              </li>
              
          </ul>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="container">
          <h3><b>Country Travel Restrictions</b></h3>
          <span class="details">
              {{restrictions}}
          </span>
      </div>
  </div>


</body>
</html>